[flake8]
ignore = E203, E501, W503, D203, W291
max-line-length = 120
exclude =
    .git,
    __pycache__,
    dist,
    venv,
    .venv,
    scripts,
    dev,
    migrations,
    setup.py
max-complexity = 10
